* {
  box-sizing: border-box;
}
page-profile {
  ion-content {
    margin-top: 32px;
  }
  .column {
    line-height: 0;

    column-count: 5;
    column-gap: 2px;

    .img {
      width: 100% !important;
      height: auto !important;
      margin-top: 2px;
    }
  }

  .profile {
    margin-bottom: 24px;
    p {
      padding-top: 5px;
      margin: 0;
    }
  }

  .covered {
    border: 4px solid #fff;
    box-shadow: 1px 1px 0px #444444;
  }

  @media (max-width: 1200px) {
    .column {
      column-count: 5;
    }
  }

  @media (max-width: 1000px) {
    .column {
      column-count: 4;
    }
  }

  @media (max-width: 800px) {
    .column {
      column-count: 3;
    }
  }

  @media (max-width: 400px) {
    .column {
      column-count: 2;
    }
  }

  .anim-gradient {
    max-height: 300px;
    overflow: hidden;
    color: color($colors, light);
    background: #f5f5f5;
    
    &:before {
      content: " ";
      /* width: 200%; */
      height: 300px;
      //box-shadow: 0px 1px 8px #9E9E9E;
      box-shadow: 0px 1px 8px 0px inset #5f5f5f;
      border-radius: 100%;
      border: 1px solid #ececec;
      position: absolute;
      top: -10%;
      left: -20%;
      right: -20%;
      bottom: 0;
      background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
      background-size: 300% 300%;
      animation: grdientAnim 10s ease infinite;
    }
  }

  @keyframes grdientAnim {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}
