<ion-header>
  <ion-toolbar no-border-top color="primary">
    <button ion-button menuToggle color="light" style="display: block !important;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar #searchInput (ionInput)="getSearch($event)" placeholder="Pencarian"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only color="light">
        <ion-icon ios="ios-notifications" style="zoom: .8;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar border-top color="light">
    <ion-segment [(ngModel)]="pages" color="primary" (ionChange)="onSegmentChange()">
      <ion-segment-button value="petani">
        Petani
      </ion-segment-button>
      <ion-segment-button value="agronomis">
        Agronomis
      </ion-segment-button>
      <ion-segment-button value="bandar">
        Bandar
      </ion-segment-button>
    </ion-segment>    
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="pages">
    <div *ngSwitchCase="'petani'">
      <ion-list>
        <button ion-item *ngFor="let user of petani">
          <ion-avatar item-start>
            <img *ngIf="!user.foto" src="assets/imgs/{{ user.kelamin }}.png">
            <img *ngIf="user.foto" [src]="feed.apiUrl + user.foto">
          </ion-avatar>
          <h2>{{ user.nama }}</h2>
          <p>
            <ion-icon name="ios-mail-outline"></ion-icon> {{ user.email || 'none' }}<br />
            <ion-icon name="ios-call-outline"></ion-icon> {{ user.kontak || 'none' }}<br />
            <ion-icon name="ios-time-outline"></ion-icon> {{ user.join_date }}
          </p>
        </button>
      </ion-list>
    </div>

    <div *ngSwitchCase="'agronomis'">
      <ion-list>
        <button ion-item *ngFor="let user of agronomis">
          <ion-avatar item-start>
            <img *ngIf="!user.foto" src="assets/imgs/{{ user.kelamin }}.png">
            <img *ngIf="user.foto" [src]="feed.apiUrl + user.foto">
          </ion-avatar>
          <h2>{{ user.nama }}</h2>
          <p>
            <ion-icon name="ios-mail-outline"></ion-icon> {{ user.email || 'none' }}<br />
            <ion-icon name="ios-call-outline"></ion-icon> {{ user.kontak || 'none' }}<br />
            <ion-icon name="ios-time-outline"></ion-icon> {{ user.join_date }}
          </p>
        </button>
      </ion-list>
    </div>

    <div *ngSwitchCase="'bandar'">
      <ion-list>
        <button ion-item *ngFor="let user of bandar">
          <ion-avatar item-start>
            <img *ngIf="!user.foto" src="assets/imgs/{{ user.kelamin }}.png">
            <img *ngIf="user.foto" [src]="feed.apiUrl + user.foto">
          </ion-avatar>
          <h2>{{ user.nama }}</h2>
          <p>
            <ion-icon name="ios-mail-outline"></ion-icon> {{ user.email || 'none' }}<br />
            <ion-icon name="ios-call-outline"></ion-icon> {{ user.kontak || 'none' }}<br />
            <ion-icon name="ios-time-outline"></ion-icon> {{ user.join_date }}
          </p>
        </button>
      </ion-list>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
